div.introduction{
    position: fixed;
    padding: 2% 0% 0% 0%;
}
div.navbar{
    display: block;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(white, lightblue);
}

div.navbar li {
    display: inline-block;
    border-radius: 25px black;
}

footer{
    position: fixed;
    background-color: cornflowerblue;
}

div.introduction p{
    float: left;
    width: 1400px;
}

div.introduction img{
    float: right;
    padding-right: 295px;
}

div.assignment{
    position: absolute;
    top: 160px;
    right: 70px;
}

div.schedule{
    padding: 0% 0% 0% 0%;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

div.portfolio{
    padding: 19% 0% 0% 0%;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

p{
    font-family: Andika;
    line-height: 25px;
    text-align: center;
}

#Contact_Information_Section {
    text-align: left;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

@font-face {
    font-family: Andika;
    src: url(https://fonts.googleapis.com/css?family=Andika);
}

ul, li, ol{
    color:cornflowerblue;
    font-weight: 600;
}

#dragon{
    list-style-image: url("../img/star.png");
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px cornflowerblue;
}

a{
    text-decoration: none;
}

a:hover{
    color: cornflowerblue;
    text-shadow: 1px 1px blue;
}

body{
    background-color: aqua;
    background-image: url("../img/Back.jpg");
    z-index: 2;
}

h1{
    border-radius: 25px black;
    transition: ease-in-out 1s;
    width: 200px;
}

p::first-letter{
    color:cornflowerblue;
}

#firstP{
    box-shadow: 5px 10px;
}

tr:nth-child(even){
    background-color: cornflowerblue;
}

table, td{
    border: 1px solid;
    padding: 10px;
    vertical-align: middle;
    empty-cells: show;
}

h1:hover{
    transform: scale(0.9);
}

a:link{
    color:cornflowerblue;
}

a:visited{
    color:blue;
}

a:active{
    color:mediumslateblue;
}

#gone, #poof{
    visibility: hidden;
}